.container{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF; 
    outline: 3px dotted black;
    padding: 5%;
    margin-top: 7%;
}

.title{
    font-size: 2rem;
}

.dataList{
    width: 100%;
}

.container p {
    font-size: 1.3rem;
}